.photosContent {
  border: $border-stock;
  padding: $padding-stock;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

.photoLink {
  border: $border-stock;
  background: $color-background;

  position: relative;
  width: auto;
  height: 30rem;

  display: flex;
  align-items: center;
  justify-content: center;

  img {
    padding: $padding-thin;
    object-fit: contain;
    width: 80%;
    height: 80%;
  }
}

.photoButton:hover {
  cursor: pointer;
  border-color: $color-active;
}