.photosContent {
  border: $border-stock;
  padding: $padding-stock;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 1rem;

  .photoContainer {
    // border: $border-stock;
    position: relative;
    max-width: 40vw;
    max-height: 60vh;

    img {
      display: flex;
      align-items: center;
      justify-content: center;
      object-fit: contain;
      max-width: 36vw;
      max-height: 56vh;
    }
  }
}
