html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  background: $color-background;
  font-family: $font-family;
  font-size: 100%;
  margin: 0;
}

#__next {
  height: 100%;
}

main {
  margin-top: 8rem;
}

a {
  color: inherit;
  text-decoration: none;
}

a:hover {
  color: $color-active;
}

h1,
h2,
h3 {
  text-align: center;
  color: $font-color;
}

.page-content {
  display: flex;
  flex-direction: column;
}

.home-image {
  border: $border-stock;
  position: relative;
  margin: auto;
  margin-top: 20vh;
  width: 48rem;
  height: 32rem;

  img {
    padding: 1rem;
    object-fit: contain;
    width: 100%;
    height: 100%;
  }
}
