.photosContent {
  border: 4px solid $color-border;
  padding: 1rem;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

.photoButton {
  border: 4px solid $color-border;
  position: relative;
  background: $color-background;
  width: 30%;
  height: 30%;

  img {
    padding: 1rem;
    object-fit: contain;
    width: 90%;
    height: 90%;
  }
}

.photoButton:hover {
  cursor: pointer;
  border-color: $color-active;
}