$max-width: 1100px;
$border-radius: 12px;
$font-mono: monospace, 'Courier-New';
$font-color: black;
$color-primary: blue;
$color-secondary: red;
$color-active: orange;
$color-border: black;
$color-background: white;