.projectContent {
  border: $border-test-orange;
  // height: 40rem;
  padding: 1rem;
  display: flex;
  justify-content: center;
  gap: 1rem;

  .workProjectCarousel {
    width: 30vw;
    height: 60vh;
  }

  .workProjectInfoPanel {    
    width: 30vw;
    height: 60vh;
  }
}