.card {
  border: $border-stock;
  border-radius: $border-radius-large;
  padding: $padding-stock;
  width: 20rem;
  height: 26rem;
  display: grid;
  grid-template-rows: 2rem 20rem 4rem;
}

.card:hover {
  scale: 105%;
  cursor: pointer;
}

.cardTitle {
  grid-row: 1;
  font-size: $font-size-xlarge;
  font-weight: bold;
  text-align: center;
}

.cardImage {
  grid-row: 2/3;
  position: relative;

  img {
    padding: $padding-stock;
    object-fit: contain;
  }
}

.cardText {
  grid-row: 3;
  font-size: $font-size-large;
  text-align: center;
  padding-bottom: $padding-stock;
}

@media screen and (orientation:landscape) and (max-width: 1400px) {}

@media screen and (orientation:portrait) {}